<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <section id="ContenedorPrincipal">
    <header>
            <span id="Logo">Productos</span>
            <nav>
                    <a href="">Agregar Producto</a>
                    <a href="">Eliminar Productos</a>
                    <a href="">Modificar datos</a>
                </nav>
    </header>    

    </section>
</body>
</html>